a {
    color: #fff;
}
.header {
    /* height: 50px; */
    padding: 1.5rem 6.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    background: #141024;
    position: sticky;
    top: 0;
    z-index: 10;
}
.header__logo {
    font-weight: bold;
    font-size: 1.875rem;
}
.header__links {
    display: flex;
    gap: 2.5rem;
    font-size: 1.25rem;
}
.header__tel {
    font-weight: 600;
}

.mobile {
    display: none;
}

@media (max-width: 911px) {
    .header__links-mob {
        display: flex;
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        z-index: 100;
        background-color: #141024;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 30px;
        font-weight: 600;
        transition: transform 0.3s;
    }
    .header__links-mob.hide {
        transform: translateX(100%);
    }
    .header__links-mob.show {
        transform: translateX(0%);
    }
    .header__links, .header__tel {
        display: none;
    }
    .mobile {
        display: block;
    }
    .header {
        padding: 10px;
    }
    .header__logo {
        font-size: 18px;
    }
    .menu-icons {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .mobile-phone, .menu-btn, .close-menu {
        border-radius: 10px;
        box-shadow: 0px -1px 1px rgba(255, 255, 255, 40%);
        padding: 10px;
        line-height: 0;
    }
    .menu-btn {
        padding: 14px 9px;
    }
    .close-menu {
        padding: 14px 15px;
        position: absolute;
        top: 10px;
        right: 10px;
    }
}
