* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, button, a {
  font-family: "Jost", sans-serif;
  line-height: 160%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
a {
  text-decoration: none;
}